---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: riftbets
name: riftbets
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "/Users/BradBernard/Laravel/RiftBets"
      to: "/home/vagrant/riftbets"
      type: "nfs"

sites:
    - map: riftbets.dev
      to: "/home/vagrant/riftbets/public"
      schedule: true

databases:
    - riftbets

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
